html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* overrides for custom half-moon styling in global html */
:root {
  --navbar-brand-image-height: 50px;
  --navbar-height: 100px;
}

.page-wrapper {
  top: 0;
}
