<link rel="stylesheet" href="./assets/css/layerstack.css">
<div class="layerstack">
    <div class="layer" id="">
        {# Industrial C Background #}
    </div>
    <div class="layer" id="p1">
        {# Large Snow Particles #}
    </div>
    <div class="layer">
        {# Industrial B Background #}
    </div>
    <div class="layer" id="p2"> 
        {# medium Snow Particles #}
    </div>
    <div class="layer">
        {# Industrial A Background #}
    </div>
    <div class="layer" id="p3">
        {# small Snow Particles #}
    </div>
    <div class="layer">
        {# Blur Layer #}
    </div>
    <div class="layer" id="ls-1">
        {# Light Source #}
    </div>
    <div class="layer" id="prp-grs">
        {# purple grass layer #}
        
    </div>
    <div class="layer" id="sqrs">
        {# abstract square layer #}
    </div>
    <div class="layer" id="jacob">
        {# abstract square layer #}
    </div>
    <div class="layer" id="blk-grs">
        {# black grass layer #}
    </div>
</div>