<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./assets/css/halfmoon-variables.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body class="with-custom-webkit-scrollbars">
    
        <!-- Page wrapper -->
    <div class="page-wrapper with-navbar">
        <nav class="navbar shadow d-flex justify-content-center">
            <div class="navbar-brand">
                <img class="logo" src="./assets/images/logo.png" alt="">
            </div>
        </nav>
        <!-- Content wrapper -->
        <main class="content-wrapper">
        {{content | safe }}
        </main>
    </div>
    
    <script src="js/halfmoon.js"></script>
    <script src="js/main.js"></script>
</body>
</html>